header{
    background-color: #2A9D8F;
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;

  }
  .head-logo{
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
  }
 




  .header-nav{
    display: inline-block;
    margin-left: 697px;
    vertical-align: middle;
  }
  .header-li{
    display: inline-block;
  }

  .header_li_link{
  font:  ABeeZee;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
  background: #000000;

  }
  .middle-li{
    margin-inline: 21px;
  }

  .user-icon{
    width: 24px;
height: 24px;
left: 346px;
padding: 2px 0px 0px 0px;
margin-inline: 24px;} 