

Header{
    width: 1180px;
height: 50px;
left: 130px;
padding: 6px 0px 6px 0px;
gap: 0px;
opacity: 0px;
margin: 50px 50px;

  }

  .head-logo{
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
  }
 
  .header-nav{
    display: inline-block;
    margin-left: 697px;
    vertical-align: middle;
    
  }
  .header-li{
    display: inline-block;
    
  }

  .header_li_link{
  font:  ABeeZee;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
  background: #000000;

  }
  .middle-li{
    margin-inline: 21px;
  }

  .user-icon{
    width: 24px;
height: 24px;
left: 346px;}


/*section */

.section1{
width: 1440px;
height: 550px;
top: 50px;

}

.img1{
    width: 1440px;
    height: 550px;
    top: 50px;
    gap: 0px;
    opacity: 0px;  
    text-align: center;
    
}


h2{

font-family: Kanit;
font-size: 50px;
font-weight: 400;
line-height: 75px;
text-align: center;
color: white;
}
p{
    font-family: Kanit;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: white;

    
}

.div1{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 34px 40px;
    height: 208px;
    width: 1180px;

}
@media (max-width: 768px) {
    .div1 {
        flex-direction: column;
        align-items: center;
    }
   .h2{
    font-size: medium;
    line-height:left ;
   }
   .p{
    font-size: medium;
    line-height:left ;
   }
}
/* section2*/

h1{
    font-family: Kanit;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
      
color: #000000;
}

.section2{
    width: 1440px;
    height: 400px;
    top: 206px;
padding: 10px;
display: flex;




}

.text1{
    color: #000000;
    font-family: Kanit;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;


}
h3{
    font-family: Kanit;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
color: #000000;

}



.nature{

    width: 380px;
    height: 190px;
    top: 79px;
    left: 800px;
}

.nature1{
    width: 780px;
height: 400px;
top: 79px;
}

.nature3{
    width: 380px;
    height: 190px;
}

.div2{
    flex-direction: column;}
    /*
  background-color: blue;  /* 
 /*აქ ძალიან გავიჭედე, ბოლო ფოტო სწორად ვერ განვალაგე */


 @media (max-width: 768px) {
    .nature3 {
        flex-direction: column;
        align-items: center;
    }


/*footer */ 
 .footerimg{
    width: 38px;
height: 38px;
padding: 3.17px 0.79px 3.17px 6.33px;
display: inline-block;
    vertical-align: middle;

 }
 .footertext{
    font-family: Pridi;
font-size: 18px;
font-weight: 400;
line-height: 27.9px;
text-align: left;
display: inline-block;
 }

 .nav3{
    width: 1440px;
height: 100px;
padding: 31px 0px 31px 0px;
background: #000000;
margin: 10% auto;

 }

 /* რესპონსივისის ნაწილი ვერ გავაკეთე, დაგუგლვითაც მეტნაკლებად გაუგებარი იყო, ჩანაწერითაც რაზეც საუბრობდით მეტნაკლებად თითქოს მივხვდი მაგრამ გაკეთებისას ავირია, ლექციაზე ალბათ დეტალურად აგვიხსნით. */



